.button{

    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #2563eb;
        color: white;
    }

    &.secondary-button{
        background-color: transparent;
        color: #171717;
        border: 1px solid #e5e5e5;

        &:hover{
            background-color: #f7f7f5;
        }
    }

    &:active{
        transform: scale(0.9);
    }
}